
custom_components/*
/ui_lovelace_minimalist_reborn
ui_lovelace_minimalist_reborn/
/themes/

!custom_components/ui_lovelace_minimalist_reborn
!custom_components/__init__.py
custom_components/ui_lovelace_minimalist_reborn/__pycache__
custom_components/ui_lovelace_minimalist_reborn/.installed

.DS_Store
__pycache__
pythonenv*
.python-version
.coverage
venv
.venv
/.idea