
#
# If the dev version of homeassistant gives you problems:
#   pip install git+git://github.com/home-assistant/core.git@2021.12.10
#
jinja2
mkdocs-awesome-pages-plugin
mkdocs-material
pre-commit

# Optional, if container start takes really long due to PyTurboJPEG==1.6.3
# wheel
# PyTurboJPEG==1.6.3
