:root {
    --md-primary-fg-color:              hsla(212, 33%, 32%, 1);
    --md-primary-fg-color--light:       hsla(212, 33%, 32%, 1);
    --md-primary-fg-color--dark:        hsla(212, 33%, 32%, 1);
    --md-accent-fg-color:               hsla(183, 56%, 52%, 1);
    --md-accent-fg-color--transparent:  hsla(183, 56%, 52%, 0.1);
}

pre { color: white !important; }

.md-clipboard:before {
    color: rgb(255, 255, 255);
}

.codehilite:hover .md-clipboard:before,.md-typeset .highlight:hover .md-clipboard:before,pre:hover .md-clipboard:before {
    color: rgba(255, 255, 255, 0.54) !important
}
