:root {
    --md-primary-fg-color:              hsla(212, 33%, 32%, 1);
    --md-primary-fg-color--light:       hsla(212, 33%, 32%, 1);
    --md-primary-fg-color--dark:        hsla(212, 33%, 32%, 1);
    --md-accent-fg-color:               hsla(183, 56%, 52%, 1);
    --md-accent-fg-color--transparent:  hsla(183, 56%, 52%, 0.1);
}

@media only screen and (min-width: 76.25em) {
    .mat-toolbar__inner {
        max-width: none;
      }
    .md-main__inner {
      max-width: none;
    }
    .md-sidebar--primary {
      left: 0;
    }
    .md-sidebar--secondary {
      right: 0;
      margin-left: 0;
      -webkit-transform: none;
      transform: none;
    }
  }

pre { color: white !important; }

.md-clipboard:before {
    color: rgb(255, 255, 255);
}

.codehilite:hover .md-clipboard:before,.md-typeset .highlight:hover .md-clipboard:before,pre:hover .md-clipboard:before {
    color: rgba(255, 255, 255, 0.54) !important
}
