---

---
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 190px;
  background-color: {{ site.ulm_color_dark_grey}};
  color: {{ site.ulm_color_light_grey }};
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -95px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: {{ site.ulm_color_dark_grey }} transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}