name: Manage labels

on:
  push:
    branches:
      - main
      - master
      - dev

jobs:
  labeler:
    name: Labeler
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v2.3.4

      - name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@v3.1.1
        with:
          skip-delete: true